{% extends "blog/layout.html" %}
{% block title %}
    Perext's blog
{% endblock %}

{% block content %}

    {% for blog in blogs.all %}
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ blog.title }}</h3>
                        <p>
                        <h4>작성: {{ blog.pub_date }}</h4>

                        <p>  {{ blog.summary }}</p>
                        <p><a href="{% url 'detail' blog.id %}" class="btn btn-primary">..더보기</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

